//macanism
$primary-color: #693a9d;

.M-shape {
  width: 71px !important;
}

.A-shape {
  width: 83px !important;
}

.K-shape {
  width: 62px !important;
  height: 123px !important;
  background: $primary-color !important;
}

.AA-shape {
  width: 171px !important;
  height: 93px !important;
  background: $primary-color !important;
}

.N-shape {
  width: 119px !important;
  height: 208px !important;
  background: $primary-color !important;
}

.I-shape {
  width: 65px !important;
  height: 224px !important;
  background: $primary-color !important;
}

.S-shape {
  width: 86px !important;
  height: 155px !important;
  background: $primary-color !important;
}

.MM-shape {
  width: 243px !important;
  height: 64px !important;
  background: $primary-color !important;
}

.M-flower-Animation,
.A-flower-Animation,
.K-flower-Animation,
.AA-flower-Animation,
.N-flower-Animation,
.I-flower-Animation,
.S-flower-Animation,
.MM-flower-Animation {
  animation: flower-Animation 2s forwards;
  -webkit-animation: flower-Animation 2s forwards;
  -moz-animation: flower-Animation 2s forwards;
}

.Description-Macanism {
  z-index: 10000;
  -webkit-transition-delay: 3s;
  -o-transition-delay: 3s;
  transition-delay: 3s;
  opacity: 0;
  p {
    font-size: 15px;
    width: 200px !important;
    line-height: 15px;
    text-align: right !important;
    padding-right: 5px !important
  }
  .Description-Bold {
    font-weight: bold !important;
    font-size: 24px !important
  }
  .Description-Light {
    font-size: 16px !important
  }
}
.Macanism-Description-animate {
  animation: Macanism-animate .3s forwards;
  -webkit-animation: Macanism-animate .3s forwards;
  -moz-animation: Macanism-animate .3s forwards;
}

@-webkit-keyframes flower-Animation {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateY(-300px);
    transform: translateY(-300px);
  }
}

@keyframes flower-Animation {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateY(-300px);
    transform: translateY(-300px);
  }
}

@each $shape in M, A, K, AA, N, I, S, MM {
  .#{$shape}-flower-Animation {
    animation: #{$shape}-flower-Animation 2s forwards;
    -webkit-animation: #{$shape}-flower-Animation 2s forwards;
    -moz-animation: #{$shape}-flower-Animation 2s forwards;
  }

  @-webkit-keyframes #{$shape}-flower-Animation {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }

    100% {
      -webkit-transform: translateY(#{if($shape == 'AA', '-100px', '300px')});
      transform: translateY(#{if($shape == 'AA', '-100px', '300px')});
    }
  }

  @keyframes #{$shape}-flower-Animation {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }

    100% {
      -webkit-transform: translateY(#{if($shape == 'AA', '-100px', '300px')});
      transform: translateY(#{if($shape == 'AA', '-100px', '300px')});
    }
  }
}

@-webkit-keyframes Macanism-animate {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes Macanism-animate {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

//work with us
.frm_dropzone.frm_single_upload {
  background: transparent!important;
  max-width: unset!important;
  color: white!important;
  .dz-message {
    background: transparent!important;
  }
}

//slider aboutus
#rev_slider_19_1 ul {
  list-style: square;
}
#rev_slider_19_1 p {
  text-align: justify!important;
  line-height:1.8!important;
  font-size: 18px !important;
}
#rev_slider_19_1 *{
  pointer-events: all !important;
}
#rev_slider_19_1 .accordion-button::after {
  filter: invert(1)!important;
}
#rev_slider_19_1 .accordion-button:focus {
  box-shadow: unset !important
}
//slider on about us
.Description-Macanism {
  z-index: 10000;
  -webkit-transition-delay: 3s;
  -o-transition-delay: 3s;
  transition-delay: 3s;
  opacity: 0
}