//mockup website
.mac {
  top: 26%;
  left: 35%;
  width: 800px;
  height: 459px;
  z-index: 1;

  .imgBX {
    top: 4px;
    right: 76px;
    width: 648px;
    height: 422px;
    background-position: top !important;
    background-size: 100% !important;
    transition: 8s;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  &:hover .imgBX {
    background-position: bottom !important;
  }

  &:after {
    content: '';
    position: absolute;
    background-color: #000;
    top: 4px;
    width: 10%;
    height: 16px;
    right: 50%;
    transform: translateX(+50%);
    z-index: 1;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

.iphone {
  top: 37%;
  z-index: 1;
  left: 13%;
  width: 180px;
  height: 362px;

  .imgBX {
    width: 157px;
    height: 339px;
    background-position: top !important;
    background-size: 100% !important;
    top: 12px;
    left: 12px;
    border-radius: 11px;
    transition: 15s;
  }

  &:hover .imgBX {
    background-position: bottom !important;
  }

  &:after {
    content: '';
    position: absolute;
    background-color: #000;
    top: 17px;
    width: 32%;
    height: 16px;
    right: 50%;
    border-radius: 30px;
    transform: translateX(+50%);
    z-index: 1;
  }
}

.ipad {
  left: 20%;
  top: 13%;
  width: 400px;
  height: 554px;

  .imgBX {
    height: 511px;
    width: 357px;
    top: 22px;
    left: 21px;
    border-radius: 15px;
    background-position: top !important;
    background-size: 100% !important;
    transition: 9s;
  }

  &:hover .imgBX {
    background-position: bottom !important;
  }
}
@media (max-width: 1600px) {
  .ipad {
    height: 410px;
    left: 24%;
    top: 13%;
    width: 260px;
    .imgBX {
      height: 333px;
      left: 10px;
      top: 13px;
      width: 240px;
    }
  }
  .mac {
    height: 319px;
    left: 35%;
    top: 26%;
    width: 550px;
    .imgBX {
      height: 295px;
      right: 52px;
      top: 4px;
      width: 445px;
    }
  }
  .iphone {
    left: 18%;
    top: 37%;
    //width: 120px;
    &:after {
      height: 10px;
      top: 10px;
      width: 29%;
    }
    .imgBX {
      //height: 228px;
      left: 12px;
      top: 12px;
      //width: 105px;
    }
  }
}
